.editemployee input {
	width: 100%;
	padding: 1.2rem;
	font-size: 1.6rem;
	border: none;
	background-color: #f3eeee;
	border-radius: 9px;
}
.editemployee {
	grid-template-columns: 1fr 1fr;
	/* row-gap: 1.2rem; */
	column-gap: 5rem;
	padding: 40px;
	padding-top: 0;
	border-radius: 12px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	/* border: solid #ccc 1px; */
	row-gap: 8px;
	background: #261a2f;
	/* background-color: white; */
}
.editemployee label {
	color: #ebdbfe;
}
select {
	width: 100%;
	padding: 1.2rem;
	font-size: 1.6rem;
	border: none;
	background-color: #f3eeee;
	border-radius: 9px;
}
.editemployee-a {
	padding: 1.2rem;
	background-color: #ebdbfe;
	font-size: 1.8rem;
	width: 50%;
	border-radius: 12px;
	text-align: center;
	margin-top: 2rem;
	color: #261a2f;
	border: none;
}
.conatnereditaddemployee {
	background: #261a2f;
	padding-left: 40px;
	padding-top: 3rem;
}
.manage-employee-button {
	border: none;
	font-size: 2rem;
	padding: 1.2rem;
	/* margin-left: 3.2rem; */
	background-color: #38284c;
	color: #ebdbfe;
	border-radius: 12px;
	transition: all 0.3s;
	margin-bottom: 3rem;
}
