
.whole{
background: #fbece0;
margin-left: 6rem;
margin-right: 6rem;
border-radius: 10px;
}
.carthead{
    font-size: 25px;
    margin-left:4rem;
    margin-bottom: 3.5rem;
    color: #333;
    
}
.ll {
  display: grid;
  grid-template-columns: 15fr 50fr 35fr;
  margin-left: 3rem;
  margin-right: 3rem;
  background-color: #fbece0;
  
}

.cart-image{
	  width: 9.5rem;
    height: 10.5rem;
    margin-left: 4.9rem;
    margin-top: 1rem;
}


  .middle{
    align-items: start; 
    
    } 
.cart-title {
    margin-top: 3rem;
    font-size:16px;
    margin-left: 1.6rem;
    display: inline-block;
    color: #333;
}
.price {
    font-size: 14px;
    margin-left: 6rem;
    color: hsl(210, 1%, 45%);
    display: inline-block;
  }
  .cancel-icon {
    margin-left:6rem;
    margin-top: 6rem;
    color: rgb(224, 122, 139);
    font-size: 1.5rem;
    display: inline-block;
  }
.plus {
    display: inline-block;
    font-size: 1.4rem;
    margin-left: 0.5rem;
    color: hsl(210, 1%, 45%);
  };
    
  .minus {
    display: inline-block;
    color: hsl(210, 1%, 45%);
    margin-left: 0.5rem;
    font-size: 1.4rem;
  }
.quantity{  
  display: inline-block;
  font-size: 1.4rem;
  color: hsl(210, 1%, 45%);

}
  
.hi {
  display: inline-block;
    margin-right: 0.5rem;
    margin-left: 2rem;
    margin-top: 1.2rem;
    font-size: 0.6rem;
    color:hsl(0, 0%, 58%);
  }


.leftside {	
  background-color: #faf5f5;
  height: 385px; 
}
.checkout{
  margin-left:2.5rem;
  margin-top: 2rem;
  font-size:2rem ;
  font-weight: bold;
  color: #333;
}
.totaltitle{
  margin-left: 4.5rem;
  font-size: 1.5rem;
  color: rgb(224, 122, 139);
  margin-top: 5rem;
  display: inline-block;
}
.subtotal{
  margin-left:18rem;
  display: inline-block;
  font-size:1.5rem ;
  color: rgb(224, 122, 139);
}
.middlehr {
	top: 54%;
	left: 120px;
  margin-top: 1.6rem;
	border: solid 0.5px rgb(210, 205, 205);
  width: 630px ;
}
.lefthr{
  top: 56%;
	left: 840px;
	border: solid 1.4px rgb(210, 205, 205);
  width: 310px ;
}
.boxcart{
  display: inline-block;
	padding: 0.2rem 1rem;
  margin-left: 4.2rem;
  margin-top: 2rem;
	font-size: 1rem;
	border-radius: 16px;
	transition: all 0.3s;
	border: none;
	outline: none;
	color:#fae4d3;
  width: 6rem;
  height: 1.7rem;
  outline: 0.5px #1c1c1c solid;
}
