.productframe {
    border: 2px solid#fffbf8;
    padding: 2rem;
    background-color:#fdf5f0;
  }
  
  .product-list {
    display: flex;
    overflow: hidden;
    padding: 0 5rem;
    margin-bottom: 5rem;
  }
  

  
  .producteachframe {
    width: 480px;
    height: 430px;
 
    border-radius: 50%;
    margin-left: 3rem;

  }
  
  .product-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 1rem;
    margin-left: 6rem;
    transition: all 0.6s;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .product-list > div {
    background-color:#ffffff;
    padding-bottom: 2rem;
    padding-top: 3rem;
    width: 500px;
    height: 350px;
    clip-path: polygon(48% 8%, 100% 0, 100% 100%, 46% 100%, 0 100%, 0 0);
  }
  
  .product-title {
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-left: 6rem;
  }
  
  .product-description {
    font-size: 1.6rem;
    line-height: 1.6;
    margin: 0 2rem;
    margin-right: 1rem;
    margin-bottom: 3rem;
    margin-left: 3rem;
  }
  
  .product-image:hover {
    transform: scale(0.9);
  }
  
  .productfeature {
    font-size: 3.5rem;
    letter-spacing: 0.5px;
    width: 20rem;
    margin: auto;
    margin-left: 43%;
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
  }
  
  .add-to-cart {
    margin-top: -4rem;
    margin-left: 10rem;
    background-color: pink;
    padding: 0.8rem 1.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-radius: 35px;
    transition: all 0.3s;
    border: none;
    outline: none;
  }
  
  .add-to-cart:hover {
    outline: solid 2px rgb(177, 255, 238);
  }