.procontainer {
	width: 62vw;
	/* margin-top: ; */

	padding: 30px;
	padding-bottom: 10px;
	background: linear-gradient(
		to bottom,
		rgb(238, 236, 233),
		rgb(236, 235, 233)
	);
	border-radius: 10px;

	box-shadow: 0 0px 4px rgba(53, 49, 49, 0.39);

	margin-bottom: 2rem;
}
.prof-main-cont {
	padding-left: 4rem;
}
.protitle {
	font-size: 30px;
	margin-top: 10px;
	color: #503d3d;
	margin-bottom: 5rem;
	margin-top: 4rem;
}

.prow {
	padding-left: 12px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 10px;
	border: 1px solid #3f20204b;
	border-radius: 5px;
	justify-content: space-between;
}
.porow {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 10px;
	justify-content: space-between;
}

.plabel {
	font-size: 18px;
	color: #645353;
	font-weight: 600;
	width: 150px;
}

.pinfo {
	padding-left: 10px;
	font-size: 16px;
	color: #473333;
	width: 150px;
}
.name {
	text-transform: capitalize;
}
