.signupform {
	grid-template-columns: 1fr 1fr;
	row-gap: 2rem;
	column-gap: 5rem;

	padding: 40px;
	border-radius: 12px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border: solid #ccc 1px;
	row-gap: 8px;
	background-color: white;
}

.signupform input {
	width: 100%;
	padding: 1.2rem;
	font-size: 1.8rem;
	border: none;
	background-color: #f3eeee;
	border-radius: 9px;
}
.signupform input::placeholder {
	font-size: 16px;
	color: #aa9c9c;
}
label {
	display: block;
	margin-bottom: 1.2rem;
	font-size: 1.6rem;
}
.signupform-a {
	font-size: 2rem;
	border: solid black 1px;
	width: 50%;
	text-align: center;
	padding: 0.8rem;
	border-radius: 12px;
	color: rgb(0, 0, 0);
	margin-top: 2rem;
	border: none;
	display: block;
	background-color: pink;
}
.signup {
	background-color: rgb(255, 222, 172);

	display: grid;
	grid-template-columns: 40fr 60fr;
	padding: 10rem;
	padding-bottom: 0;
}

.signupform input:focus {
	outline: solid 5px rgba(238, 128, 49, 0.582);
}
